podAnnotations: {}

image:
  repository: ghcr.io/zak905/kube-ecr-secrets-operator/controller-manager
  #defaults to chart version if not set
  tag: ""

#resources
resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

service:
  port: 443