---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "kube-ecr-secrets-operator.name" . }}-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: {{ include "kube-ecr-secrets-operator.name" . }}-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /validate-mutate-awsecrcredential
  failurePolicy: Fail
  name: ecrcredential.zakariaamine.com
  objectSelector:
    matchExpressions:
    - key: control-plane
      operator: NotIn
      values:
      - controller-manager
  rules:
  - apiGroups:
    - aws.zakariaamine.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - awsecrimagepullsecrets
    - clusterawsecrimagepullsecrets
  sideEffects: NoneOnDryRun


